section.products-list
  .products
    h2.products__title Adicione os produtos no carrinho
    .product(ng-repeat="product in main.products")
      span.product__name {{product.name}}
      span.product__price {{product.price | currency : 'R$ ' : 2}}
      input.product__quantity(type='number', value='1', min='1', max='10', ng-model='main.quantity[product._id]', ng-init='main.quantity[product._id]=1')
      button.product__add-button(ng-click='main.addToCart(product._id)') Add to cart

  .shopping-cart
    h2.shopping-cart__title Seu carrinho
    p.shopping-cart__no-items(ng-if='main.cart.amount == 0') Nenhum produto em seu carrinho de compras
    .cart-header(ng-if='main.cart.amount > 0')
      span.cart-header__label.cart-header__label--name Produto
      span.cart-header__label.cart-header__label--price Preço
      span.cart-header__label.cart-header__label--quantity Quantidade
      span.cart-header__label.cart-header__label--amount Subtotal
      span.cart-header__label.cart-header__label--delete Excluir
    .cart-item(ng-repeat="item in main.cart.items", ng-if='main.cart')
      span.cart-item__label.cart-item__label--name {{item.product.name }}
      span.cart-item__label.cart-item__label--price {{item.product.price | currency : 'R$ ' : 2}}
      span.cart-item__label.cart-item__label--quantity {{item.quantity}}
      span.cart-item__label.cart-item__label--amount {{item.amount | currency : 'R$ ' : 2}}
      button.cart-item__delete(ng-click='main.deleteFromCart(item._id)') Delete item
    p.shopping-cart__total Total: {{main.cart.amount || 0 | currency : 'R$ ' : 2}}

