global-reset()

body, html
  font-size 10px
  font-family 'Roboto'
  font-weight 400

.main-title
  font-size 4em
  padding 1em
  text-transform uppercase
  font-weight 500

.products-list
  z-index 1
  padding 0 3em

  &:before
    content ''
    display block
    top 0
    left 0
    width 100vw
    height 100vh
    background-image url('http://mcfadyen.com/wp-content/uploads/2017/01/hero-slider-technology@3x.jpg')
    background-size cover
    position absolute
    z-index -1
    opacity .1
    transform scaleX(-1)

  .products
    float left
    width 40em
    margin-right 5em
    background-color alpha(white, 50%)
    padding 5em

    &__title
      font-size 2.8em
      color red
      margin-bottom 1em
      font-weight 200
      letter-spacing -.04em

    .product
      display flex
      justify-content space-between
      align-items center
      font-size 1.6em
      padding .5em .3em
      border-bottom 1px solid alpha(black, 30%)

      &__name
        color red
        font-weight 500

      &__quantity
        border-radius .2em
        padding .4em
        border 1px solid alpha(black, 50%)
        font-size .8em

      &__add-button
        button(red)
        font-weight 200

  .shopping-cart
    float left
    width 50em
    background-color red
    color white
    border-radius .5em
    padding 2em
    box-shadow 1em 1em 0 alpha(black, 15%)
    font-weight 200

    &__title
      font-weight 500
      font-size 2.2em
      margin-bottom 1em
      background-color black
      padding .6em
      border-radius .3em

    &__no-items
      padding 2em 1.2em 3em
      line-height 1.2
      text-align center
      font-size 1.8em
      color alpha(white, 50%)
      font-weight 200

    &__total
      padding 1em 0
      border-top 1px solid white
      text-align right
      font-size 1.8em
      font-weight 300

    .cart-item
      padding 1em 0
      display flex
      align-content center
      justify-content space-between
      font-size 1.2em
      border-bottom 1px solid alpha(white, 50%)

      &last-of-type
        border 0

      &__label
        align-self center
        flex-grow 1.5
        text-align center

        &--name
          flex-grow 0.5
          text-align left

        &--price
          flex-grow 1.05

      &__delete
        flex-grow 0
        button black
        font-weight 200


    .cart-header
      display flex
      align-content center
      justify-content space-between
      border-bottom 1px solid white
      padding 1em 0

      &__label
        align-self center
        flex-grow 1
        text-transform uppercase
        color alpha(white, 50%)
        text-align center

        &--name
          text-align left
          flex-grow 1

        &--delete
          flex-grow 1.5
