html
  head
    title McFadyen Shopping Cart
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
    link(rel='stylesheet', href='/css/main.min.css')

  body(ng-app="mcfadyen")
    base(href="/")
    h1.main-title McFadyen Shopping Cart

    ui-view

    script(src="/js/3rd.js")
    script(src="/js/app.js")
